<div class="jumbotron center">
<h1>Welcome to my app!</h1>
<p>
	<%= link_to "Log in", "#",class: "btn btn-default btn-lg" %>
	<%= link_to "Sign up", "#",class: "btn btn-primary btn-lg" %>
</p>
</div>


<!-- added --> 
<div class="container botones">
      <div class="row ">
        <div class="btn-group">
          <button class="next btn btn-warning"> PREV </button>
          <button class="reset btn btn-info"> RESET </button>
          <button class="prev btn btn-success"> NEXT </button>
        </div>
      </div>
    </div>
<!-- added --> 


<div class="container botones">
      <div class="row ">
        <div class="btn-group">
          <button class="next btn btn-warning"> PREV </button>
          <button class="reset btn btn-info"> RESET </button>
          <button class="prev btn btn-success"> NEXT </button>
        </div>
      </div>
    </div>