<div class="jumbotron center">
     <h1>Welcome to my app!</h1>
     <% if user_signed_in? %>
          # Welcome Sydney!
     <% else %>
       <p>
         <%= link_to "Log in", new_user_session_path, class: "btn btn-default btn-lg" %>
         <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
       </p>
  <% end %>  
</div>

    <!-- Added -->
 <div class="container">
  <div class="row">
    <div class="col-sm-12 image1">
      <img src="http://prommanow.com/wp-content/uploads/2014/10/ironman3.jpg" alt="">
    </div>
    <div class="col-sm-12 image2">
      <img src="http://i.annihil.us/u/prod/marvel//universe3zx/images/3/3e/Ironman02.jpg" alt="">
    </div>
    <div class="col-sm-12 image3">
      <img src="http://cdn.screenrant.com/wp-content/uploads/Iron-Man-Extremis-Suit.jpg" alt="">
    </div>
  </div>
</div>
<!-- added --> 

<div class="home_buttons">
      <div class="row ">
        <div class="btn-group center">
          <button class="next btn btn-warning"> PREV </button>
          <button class="reset btn btn-info"> RESET </button>
          <button class="prev btn btn-success"> NEXT </button>
        </div>
      </div>
    </div>
<!-- added --> 

<div id="response"></div> <!--THUR 10/23/14-->
<button id="call" class="btn btn-lg btn-info" onclick="ajax()">CALL </button>

